*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header=>*/
.header {
    width: 100%;
    height: 70px;
    background-color: #EC715F;
}

.header-group {
    width :1024px;
    height :70px;
    margin :0 auto;
    display : flex;
    justify-content :space-between;
}

.logo {
    height: 70px;
}

.nav-list {
    text-align: right;
    display: inline-block;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    line-height :70px;
    color : #FAFAFA;
}
/*<=header*/

/*main-visual=>*/
.main-visual {
    width: 100%;
    height: 650px;
    background-image :url(img/mv.png);
    background-size :cover; 
    background-position :center;
}

.mv-title {
    color: white;
    text-align: center; 
    padding-top :200px;
    font-size :64px;
}

.mv-text {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}
/*<=main-visual*/

/*portfolio=>*/
.portfolio {
    width: 100%;
    background-color :#ECEFF1;
    padding-bottom: 90px;
}

.portfolio-content {
    width : 920px;
    margin :0 auto;
}

.heading {
    text-align: center;
    font-size: 32px;
    padding-top: 90px;
    padding-bottom : 8px;
}

.border {
    width: 70px;
    height: 3px;
    background-color :#EC715F;
    margin: 0 auto;
}

.heading-text {
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}

 .production-group {
    display: flex;
    flex-wrap: wrap;
}

 .production-bg-1 {
    width: 300px;
    height: 250px;
    background-image: url(img/sketch.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-bottom: 10px;
 }
 .production-bg-2 {
    width: 300px;
    height: 250px;
    background-image:url(img/websuku.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    
 }
 .production-bg-3 {
    width: 300px;
    height: 250px;
    background-image: url(img/write.jpg);
    background-size: cover;
    background-position: center;
 }
    
 .production-bg-4 {
    width: 300px;
    height: 250px;
    background-image: url(img/webcamp.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
 }

 .production-bg-5 {
    width: 300px;
    height: 250px;
    background-image: url(img/talk.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
     
 }
 .production-bg-6 {
    width: 300px;
    height: 250px;
    background-image: url(img/webcamp-mother.png);
    background-size: cover;
    background-position: center;
 }
 /*<=portfolio*/

/*feature=>*/
.feature {
    width: 100%;
    margin:0 auto;
    padding-bottom: 90px;
}

.strength-group {
    width: 980px;
    margin:0 auto;
    display: flex;
}

.strength {
    width :320px;
    height: auto;
    margin-right: 10px;
}

.strength-end {
    width :320px;
    height: auto;
}

.icon {
    font-size: 60px;
    text-align: center; 
}

.strength-title {
    text-align: center;
    margin: 10px;
}
/*<=feature*/

/*profile=>*/
.profile {
    width : 100%;
    height: auto;
    background-color: #ECEFF1;
    padding-bottom: 90px; 
}

.container {
    width : 1024px;
    margin :0 auto;
}

.profile-group {
    width: 1024px;
    display: flex;
    
}

.left-content {
    width: 512px;
}

.right-content {
    width: 512px;
}

.my-face {
    width: 250px;
    height: 250px;
    background-image: url(img/my-icon.jpg);
    border-radius: 50%;
    margin: 0 auto;
}

.discription-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.discription-text {
    margin-bottom: 20px;
}







.contact {
    width : 100%;
    height: 800px;
    background-color: #ECEFF1;
    margin: 0 auto;
}

.contact-content {
    width : 800px;
    height: 800px;
    background-color:green;
    margin: 0 auto;
}

.footer {
    width : 100%;
    height: 60px;
    background-color: #EC715F;
}

/*. {*/
/*    width :;*/
/*    height:;*/
/*    background-color:;*/
/*}*/