*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header=>*/
.header {
    width: 100%;
    height: 70px;
    background-color: #EC715F;
}

.header-group {
    width :1024px;
    height :70px;
    margin :0 auto;
    display : flex;
    justify-content :space-between;
}

.logo {
    height: 70px;
}

.drawer_hidden {
        display: none;
    }

.nav-list {
    text-align: right;
    display: inline-block;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    line-height :70px;
    color : #FAFAFA;
}
/*<=header*/

/*main-visual=>*/
.main-visual {
    width: 100%;
    height: 650px;
    background-image :url(img/mv.png);
    background-size :cover; 
    background-position :center;
}

.mv-title {
    color: white;
    text-align: center; 
    padding-top :200px;
    font-size :64px;
}

.mv-text {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}
/*<=main-visual*/

/*portfolio=>*/
.portfolio {
    width: 100%;
    background-color :#ECEFF1;
}

.container {
    width : 1024px;
    margin :0 auto;
}

.portfolio-content {
    width : 920px;
    margin :0 auto;
}

.heading {
    text-align: center;
    font-size: 32px;
    padding-top: 90px;
    padding-bottom : 8px;
}

.border {
    width: 70px;
    height: 3px;
    background-color :#EC715F;
    margin: 0 auto;
}

.heading-text {
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
}

.production-group {
    display: flex;
    flex-flow: row wrap;
    width: 920px;
    padding: 30px 0 90px 0;
    margin: 0 auto;
}
    
.production {
    width: 300px;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin: 10px 10px 0 0;
 }
 
 .production:nth-child(3) {
     margin-right: 0; 
 }
 
 .production:nth-child(6) {
     margin-right: 0;
 }
 

 .bg-1 {
    background-image: url(img/sketch.jpg);
 }
 
 .bg-2 {
    background-image:url(img/websuku.png);
 }
 
 .bg-3 {
    background-image: url(img/write.jpg);
 }
    
 .bg-4 {
    background-image: url(img/webcamp.png);
 }

 .bg-5 {
    background-image: url(img/talk.jpg);
 }
 
 .bg-6 {
    background-image: url(img/webcamp-mother.png);
 }
 /*<=portfolio*/

/*feature=>*/
.feature {
    width: 100%;
    margin:0 auto;
    padding-bottom: 90px;
}


.strength-group {
    width: 980px;
    margin:0 auto;
    padding: 30px 0 90px 0;
    display: flex;
}

.strength {
    width :320px;
    height: auto;
    margin-right: 10px;
}

.strength-end {
    width :320px;
    height: auto;
}

.icon {
    font-size: 60px;
    text-align: center; 
}

.strength-title {
    text-align: center;
    margin: 10px;
}
/*<=feature*/

/*profile=>*/
.profile {
    width : 100%;
    height: auto;
    background-color: #ECEFF1;
}

.profile-group {
    width: 1024px;
    display: flex;
    padding: 30px 0 90px 0;
    
}

.left-content {
    width: 50%;
}

.right-content {
    width: 50%;
}

.my-face {
    width: 250px;
    height: 250px;
    background-image: url(img/my-icon.jpg);
    border-radius: 50%;
    margin: 0 auto;
}

.discription-title:first-child {
    margin-top: 0px;
}
.discription-title {
    font-size: 20px;
    margin: 20px 0px 5px 0px;
}

.contact {
    width : 100%;
    margin: 0 auto;
}

.contact-group {
    width : 800px;
    margin: 0 auto;
    padding: 30px 0 90px 0;
    display: flex;
}

.left-contact-content {
    width: 130px;
    margin: 0 auto;
}

.right-contact-content {
    width: 170px;
    margin: 0 auto;
}

.discription-title {
    font-size: 20px;
    margin-bottom :5px;
}

.fa-brands {
    font-size: 45px;
    margin-right: 20px;
}

.fa-brands:last-child {
    margin-right: 0px; 
}

.footer {
    width : 100%;
    height: 60px;
    background-color: #EC715F;
}
.footer-content {
    font-size: 16px;
    color: #FAFAFA;
    text-align: center;
    line-height: 60px; 
}




@media screen and (max-width:767px){
    .header {
        width: 90%;
        background-color: red;
    }
/*ハンバーガーメニュー=>*/
    .drawer_hidden {
        display: none;
    }
    
    .drawer_open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position:relative;
        z-index: 100;
        cursor: pointer; 
    }
    
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
        content: "";
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #333;
        transition: 0.5s;
        position: absolute;
    }
    
    .drawer_open span:before {
        bottom: 8px;
    }
    
    .drawer_open span:after {
        top: 8px;
    }
    
     
    #drawer_input:checked ~ .drawer_open span:before {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    #drawer_input:checked ~ .drawer_open span:after {
        top: 0;
        transform:rotate(-45deg);
    }
    
    #drawer_input:checked ~ .drawer_open span {
     background: rgba(255,255,255,0);   
    }
    
    .nav-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 99;
        background: #EC715F;
        transition: 5s;
    }
    
    #drawer_input:checked ~ .nav-content {
        left : 0;
    }
/*ハンバーガーメニュー*/
    .main-visual {
        width: 90%;
        height: 650px;
        background-image :url(img/code.png);
        background-size :cover; 
        background-position :center;
    }
    
    .mv-title {
        color: white;
        text-align: center; 
        padding-top :200px;
        font-size :40px;
    }
    
    .mv-text {
        color: white;
        text-align: center;
        padding-top: 10px;
        font-size: 18px;
    }
    
    .portfolio {
        width: 90%;
        background-color :#ECEFF1;
    }
    
    .container {
        width : 90%;
        margin :0 auto;
    }
    
    .production-group {
        width: 300px;
    }
    
    .sp-none {
        display : none;
    }
    
    .strength-group {
        flex-flow: row wrap;
        width: 320px;
        margin:0 auto;
       
    }
    
    .strength:first-child {
        margin-top: 0;
    }
    
    .strength {
        margin-top: 10px;
    }
    
    .profile-group {
        width: 90%;
        flex-flow: row wrap;
        text-align: center;
    }
    
    .left-content {
        width: 100%;
    }

    .right-content {
        width: 100%;
        margin-top: 20px;
    }
    
        

    
}





/*. {*/
/*    width :;*/
/*    height:;*/
/*    background-color:;*/
/*}*/